body {
	background-color: #ffb01a;
}

#menu {
	width: 100%;
	top: 0;
	height: 35px;
	background: #664300;
	color: #ffe5b3;
	font-family: 'Roboto';
	font-size: 16px;
	text-align: center;
}
#menu ul {
	height:auto;
	padding: 8px 0px;
	margin:0px;
}

#menu li {
	display: inline;
	padding: 20px;
}

#menu li:hover {
	color: #ffb01a;
	cursor: pointer;
}

h1 {
	font-family: 'Roboto';
	font-size: 3em;
	text-align: center;
}

h3 {
	font-family: 'Roboto';
	text-align: center;
	font-size: 1.5em;
}

p {
	font-family: 'Roboto';
	text-align: center;
	font-size: 1em 	;
}

table {
	margin-left: auto;
    margin-right: auto;
}

.column {
	width: 200px;
}


img.cartoon {
	vertical-align: middle;
	max-width: 200px;
	max-height: 200px;
}

img.cartoon:hover {
	background-color: #b37500;
}